/***** General styles *****/
button {
    cursor: pointer;
}

body {
    font-family: "Open Sans", sans-serif;
}

/***** Main Layout *****/
/* main {
    display: flex;
    flex-direction: column;
} */

.container {
    max-width: 1600px;
    padding-inline: 1rem;
    padding-block: 4.5vh;
    margin-left: auto;
    margin-right: auto;
}

/***** General Typography *****/
h1, h2, h3, h4, h5, h6 {
    line-height: 1.25em;
    margin-bottom: .75rem;
}

h1 {
    font-size: clamp(1.5rem, 3.4vh, 2rem);
    color: white;
}

/***** Hero section *****/
.hero-section {
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/bg-images/hero-background-1.jpg');
    background-size: cover;
    background-position: bottom left;
    color: white;
}

/***** Search *****/
.current-location-button {
    display: inline-flex;
    gap: .4rem;
    /* width: 100%; */
    align-items: center;
    background: transparent;
    border: none;
    padding: .5rem 0 .5rem 1rem;
    margin-bottom: .2rem;
}

.current-location-button:hover {
    background-color: #f4f4f4;
}

.current-location-button img {
    height: 14px;
}

.search-input {
    background-image: url("/assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    display: flex;
    flex-direction: column;
    background-position: center left 1rem;
    padding: .6em 1em .6em 2.5rem;
    width: 100%;
    border-radius: .5rem;
    border: none;
}

.search-results-wrapper {
    visibility: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255);
    -webkit-box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 4px 8px 0px rgba(0,0,0,0.1);
}

.search-results-list {
    margin: 0;
    padding: 0;
    color: black;
}

.search-results-list li {
    list-style-type: none;
    padding-block: .4rem;
    padding-inline: 1rem;
    cursor: pointer;    
}

.search-results-list li:hover {
    background-color: #f4f4f4;
}

/***** Quick Search *****/
.quick-search-wrapper {
    padding-block: 1rem;
}

.qs-title {
    font-size: .9rem;
    margin-bottom: .4rem;
    text-transform: uppercase;
    font-weight: 700;
}
.quick-search-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.quick-search-buttons button {
    text-align: left;
    border-radius: .5rem;
    padding-inline: .75rem;
    padding-block: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.quick-search-buttons button:hover {
    background-color: rgba(255, 255, 255, .2);
}

@media screen and (orientation: landscape) {
    .quick-search-buttons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .quick-search-buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}

.qs-location-name, .qs-state-name, .qs-temp {
    min-height: 1em;
}

.qs-location-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.qs-state-name {
    font-size: 13px;
}

.qs-temp-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.qs-icon {
    min-height: 20px;
    width: auto;
}

.qs-temp {
    font-weight: bold;
    font-size: 1.2rem;
}

/***** Current/Day *****/
.current-weather-wrapper {
    padding-block: 2vh;
}

.current-daily-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-bottom: 2vh;
}

@media screen and (min-width: 1100px) {
    .current-daily-row {
        grid-template-columns: repeat(2, 1fr);
    }
}


.current-weather-wrapper .location-name {
    font-size: clamp(1rem, 2.9vh, 1.5rem);
}

.current-wrapper {
    border: 1px solid white;
    padding: 1rem;
    border-radius: .5rem;
    /* min-width: 100%; */
}

.current-wrapper .current-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (orientation: landscape) {
    .current-wrapepr .current-data {
        grid-template-columns: 1fr 1.5fr;
    }
}

@media screen and (min-width: 768px) {
    .current-wrapper .current-data {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1.5rem;
    }
}

.current-wrapper h3 {
    font-size: 1rem;
}

.current-wrapper .temp-wrapper {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.current-wrapper .temp-wrapper .temp {
    font-size: 60px;
}

.current-wrapper .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: center;
}

.current-wrapper .info-wrapper .info-row {
    display: flex;
    gap: .5rem;
}

.daily-wrapper {
    padding-block: 2vh;
}

.daily-wrapper h3 {
    border-bottom: 3px solid lightgray;
}

.daily-wrapper .daily-data {
    padding-block: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media screen and (orientation: landscape) {
    .daily-wrapper .daily-data {
        grid-template-columns: 1fr 1.5fr;
    }
}

@media screen and (min-width: 768px) {
    .daily-wrapper .daily-data {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1.5rem;
    }
}

.daily-wrapper .summary-wrapper {
    display: flex;
    gap: 1rem;
}

.daily-wrapper .temp-wrapper {
    font-size: 1.6rem;
}

.daily-wrapper .data-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-block: .5rem;
    margin-bottom: .4rem;
}
/***** Forecast *****/
.view-forecast-button {
    border-radius: .3rem;
    background: transparent;
    border: 2px solid white;
    color: white;
}
.view-forecast-button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.forecast-day-wrapper {
    padding-bottom: 2rem;
}

.forecast-modal {
    width: 80vw;
    position: relative;
}

.modal-close-button {
    position: fixed;
    top: .5rem;
    right: .5rem;
}

@media screen and (min-width: 600px) {
    .forecast-modal {
        width: 90vw;
    }
    
    .modal-close-button {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
}

.forecast-modal .hourly-list {
    padding: .75rem 0 .75rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 700px) {
    .forecast-modal .hourly-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .forecast-modal .hourly-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

.forecast-modal .data-col span {
    line-height: 1em;
}

.forecast-modal .data-col {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.forecast-code-wrapper, .apparent-temp-wrapper, .wind-wrapper, .precip-prob-wrapper {
    display: flex;
    gap: .4rem;
}

.forecast-modal .icon-sm {
    align-self: flex-start;
}

.apprent-temp-wrapper .data-col, .wind-wrapper .data-col, .precip-prob-wrapper .data-col {
    display: flex;
    flex-direction: column;
}