button {
    cursor: pointer;
}

.search-input {
    padding-block: .75rem;
    width: 100%;
    padding-left: .5rem;
    margin-bottom: 1rem;
}

.search-results-wrapper {
    position: absolute;
    background-color: rgba(255, 255, 255);
    width: 100%;
}

.search-results-list {
    margin: 0;
    padding: 0;
}

.search-results-list li {
    list-style-type: none;
    padding-block: .4rem;
    cursor: pointer;    
}

.search-results-list li:hover {
    background-color: #f4f4f4;
}

.hourly-list {
    display: flex;
    gap: 1.5rem;
}

.forecast-day-wrapper {
    border: 1px solid black;
}

.quick-search-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#quick-search-wrapper button {
    text-align: left;
}