/***** Browser style resets *****/
* {
    box-sizing: border-box;
}

input {
    border: none;
    box-shadow: none;
}

/***** Main Layout *****/
main {
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
}

button {
    cursor: pointer;
}

.search-input {
    background-image: url("/assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    display: flex;
    flex-direction: column;
    background-position: center left 5px;
    padding: 1em 1em 1em 1.6rem;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid black;
}

.search-results-wrapper {
    position: absolute;
    background-color: rgba(255, 255, 255);
    width: 100%;
}

.search-results-list {
    margin: 0;
    padding: 0;
}

.search-results-list li {
    list-style-type: none;
    padding-block: .4rem;
    cursor: pointer;    
}

.search-results-list li:hover {
    background-color: #f4f4f4;
}

.hourly-list {
    display: flex;
    gap: 1.5rem;
}

.forecast-day-wrapper {
    border: 1px solid black;
}

.quick-search-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#quick-search-wrapper button {
    text-align: left;
}

.qs-location-name, .qs-state-name, .qs-temp {
    height: 1em;
}

.qs-icon {
    height: 20px;
    width: auto;
}